In [122]:
import os

import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

## Import dataset

In [106]:
# See working directory (No need, just for myself)
os.getcwd()

'/home/brendan/Documents/Jupyter/projet_data'

In [107]:
df = pd.read_csv('./data_cars.csv')

In [108]:
df.head(50)

,Price,Make,Model,Model_year,Mileage,Fuel,Gearbox,Online,Description
0,11220.0,PEUGEOT,308,2014,94341.0 km,Diesel,mécanique,06/07/2018 à 3h47,"modele: 308 (2E GENERATION), version: 1.6 HDI ..."
1,57526.0,BMW,X6,2015,39051.0 km,Diesel,automatique,03/04/2018 à 16h41,"modele: X6 F16, version: (F16) XDRIVE30D 258 M..."
2,80379.0,AUDI,RS6,2014,75381.0 km,Essence,automatique,30/07/2018 à 1h55,"modele: RS6 (3E GENERATION) AVANT, version: II..."
3,2830.0,FORD,KA,2007,92282.0 km,Essence,mécanique,09/07/2018 à 14h12,"modele: KA, version: 1.3 70 FUN, puissance_fis..."
4,12925.0,FIAT,TIPO,2018,10.0 km,Essence,mécanique,19/05/2018 à 3h52,"modele: TIPO 2 SW, version: II SW 1.4 95 POP, ..."
5,27956.0,BMW,X3,2012,95623.0 km,Diesel,automatique,14/03/2018 à 4h24,"modele: X3 F25, version: (F25) XDRIVE35D 313 S..."
6,16888.0,AUDI,A3,2013,49018.0 km,Diesel,mécanique,16/04/2018 à 21h35,"modele: A3 (2E GENERATION) SPORTBACK, version:..."
7,18188.0,RENAULT,MEGANE,2017,9795.0 km,Diesel,automatique,29/04/2018 à 12h44,"modele: MEGANE 4 ESTATE, version: IV ESTATE 1...."
8,10594.0,FORD,C-MAX,2012,126670.0 km,Diesel,mécanique,22/06/2018 à 5h11,"modele: C-MAX 2, version: II 1.6 TDCI 115 FAP ..."
9,69131.0,MERCEDES,CLASSE C,2015,39439.0 km,Essence,automatique,08/03/2018 à 17h35,"modele: CLASSE C 4 AMG, version: (W205) 63 AMG..."
10,14158.0,SEAT,IBIZA,2017,12464.0 km,Diesel,mécanique,25/02/2018 à 1h15,"modele: IBIZA 4, version: IV (2) 1.4 TDI 90 CO..."
11,18824.0,MINI,MINI,2015,25662.0 km,Diesel,automatique,02/06/2018 à 5h31,"modele: MINI 3 5P, version: III 1.5 COOPER D 1..."
12,18683.0,FIAT,500 X,2017,25693.0 km,Essence,automatique,14/03/2018 à 7h49,"modele: 500 X, version: 1.4 MULTIAIR 140 LOUNG..."
13,2945.0,FORD,MONDEO,2004,113417.0 km,Essence,mécanique,02/05/2018 à 10h17,"modele: MONDEO, version: (2) 1.8 125 GHIA 5P, ..."
14,6934.0,HYUNDAI,I20,2012,38494.0 km,Diesel,mécanique,01/07/2018 à 15h43,"modele: I20, version: (2) 1.1 CRDI 75 PACK INV..."
15,11906.0,DACIA,SANDERO,2017,50.0 km,Essence,mécanique,15/05/2018 à 8h10,"modele: SANDERO 2 STEPWAY, version: II (2) STE..."
16,14384.0,PEUGEOT,208,2018,10.0 km,Essence,mécanique,12/05/2018 à 6h19,"modele: 208, version: (2) 1.2 PURETECH 82 ALLU..."
17,6432.0,VOLKSWAGEN,GOLF,2010,229377.0 km,Diesel,automatique,02/07/2018 à 14h29,"modele: GOLF 6, version: VI 2.0 TDI 110 FAP BL..."
18,6824.0,CITROEN,C3,2014,111206.0 km,Diesel,mécanique,05/09/2018 à 20h56,"modele: C3 (2E GENERATION), version: II (2) 1...."
19,20675.0,TOYOTA,AURIS,2017,25282.0 km,Hybride essence électrique,automatique,31/03/2018 à 7h57,"modele: AURIS 2 TOURING SPORTS, version: HSD 1..."
20,21439.0,HYUNDAI,I30,2017,987.0 km,Diesel,mécanique,02/10/2018 à 17h52,"modele: I30 (3E GENERATION) SW, version: III S..."
21,13934.0,VOLKSWAGEN,POLO,2017,10319.0 km,Essence,mécanique,05/04/2018 à 1h18,"modele: POLO 5, version: V (2) 1.0 75 MATCH 5P..."
22,25407.0,RENAULT,MEGANE,2018,20.0 km,Essence,automatique,26/08/2018 à 21h30,"modele: , version: 1.6 TCE 205 EDC GT BOSE TPA..."
23,32472.0,BMW,SERIE 1,2017,10.0 km,Diesel,automatique,22/06/2018 à 14h41,"modele: SERIE 1 F20 5 PORTES, version: (F20) (..."
24,34948.0,JAGUAR,XKR,2007,74235.0 km,Essence,automatique,05/09/2018 à 1h11,"modele: XKR CABRIOLET, version: CABRIOLET 4.2 ..."
25,23750.0,MERCEDES,CLASSE B,2016,19970.0 km,Diesel,automatique,12/06/2018 à 14h45,"modele: CLASSE B 2, version: II (2) 180 D SENS..."
26,12887.0,PEUGEOT,208,2016,13039.0 km,Diesel,mécanique,16/07/2018 à 9h13,"modele: 208, version: (2) 1.6 BLUEHDI 75 ACTIV..."
27,24466.0,BMW,SERIE 1,2016,20082.0 km,Diesel,mécanique,18/07/2018 à 20h38,"modele: SERIE 1 F20 5 PORTES, version: (F20) (..."
28,12925.0,RENAULT,CLIO,2016,9231.0 km,Diesel,mécanique,10/05/2018 à 7h29,"modele: CLIO 4, version: IV 1.5 DCI 90 INTENS ..."
29,18746.0,VOLKSWAGEN,TOURAN,2017,22623.0 km,Diesel,mécanique,30/07/2018 à 12h31,"modele: TOURAN 3, version: 1.6 TDI 115 EDITION..."
30,23165.0,AUDI,A3,2015,75407.0 km,Diesel,automatique,15/04/2018 à 5h16,"modele: A3 (3E GENERATION) CABRIOLET, version:..."
31,8927.0,PEUGEOT,308,2011,52000.0 km,Essence,mécanique,08/06/2018 à 22h32,"modele: 308, version: (2) 1.6 VTI 120 ACTIVE B..."
32,10384.0,MERCEDES,CLASSE R,2006,194688.0 km,Diesel,automatique,13/08/2018 à 15h30,"modele: CLASSE R, version: COURT 320 CDI 4MATI..."
33,29862.0,VOLKSWAGEN,TIGUAN,2017,11423.0 km,Diesel,mécanique,10/04/2018 à 19h34,"modele: TIGUAN 2, version: II 2.0 TDI 150 BLUE..."
34,23990.0,RENAULT,TALISMAN,2017,8096.0 km,Diesel,automatique,03/07/2018 à 5h53,"modele: TALISMAN, version: 1.6 DCI 130 ENERGY ..."
35,12938.0,OPEL,ASTRA,2016,36573.0 km,Diesel,mécanique,24/04/2018 à 3h34,"modele: ASTRA 5, version: V 1.6 CDTI 110 EDITI..."
36,7410.0,RENAULT,GRAND SCENIC,2013,186595.0 km,Diesel,automatique,28/05/2018 à 9h53,"modele: GRAND SCENIC 3, version: III (2) 1.5 D..."
37,13428.0,PEUGEOT,208,2017,9760.0 km,Essence,mécanique,04/08/2018 à 16h40,"modele: 208, version: (2) 1.2 PURETECH 82 ALLU..."
38,9016.0,AUDI,A4,2007,138690.0 km,Diesel,mécanique,15/02/2018 à 6h38,"modele: A4 (3E GENERATION) AVANT, version: III..."
39,9831.0,CITROEN,DS3,2011,120749.0 km,Diesel,mécanique,15/05/2018 à 10h14,"modele: DS3, version: 1.6 HDI 110 FAP 6CV AIRD..."
40,4010.0,PEUGEOT,407,2007,205437.0 km,Diesel,mécanique,22/07/2018 à 7h25,"modele: 407, version: 2.0 HDI 136 EXECUTIVE, p..."
41,11894.0,VOLKSWAGEN,GOLF,2013,99699.0 km,Diesel,mécanique,06/02/2018 à 8h51,"modele: GOLF 7, version: VII 1.6 TDI 105 BLUEM..."
42,18382.0,DACIA,DUSTER,2017,10.0 km,Diesel,mécanique,31/08/2018 à 19h37,"modele: DUSTER 2, version: II 1.5 DCI 110 PRES..."
43,57298.0,PORSCHE,MACAN,2015,93902.0 km,Diesel,automatique,02/04/2018 à 9h31,"modele: MACAN, version: 3.0 V6 S DIESEL, puiss..."
44,8909.0,RENAULT,CLIO,2008,71630.0 km,Essence,mécanique,30/08/2018 à 15h32,"modele: CLIO 3 RS, version: III 2.0 16V 200 RS..."
45,34126.0,AUDI,A3,2018,8248.0 km,Diesel,automatique,01/04/2018 à 2h54,"modele: A3 (3E GENERATION) SPORTBACK, version:..."
46,19032.0,NISSAN,QASHQAI,2015,52920.0 km,Diesel,automatique,21/05/2018 à 5h40,"modele: QASHQAI 2, version: II 1.6 DCI 130 TEK..."
47,27733.0,BMW,SERIE 1,2018,100.0 km,Diesel,mécanique,21/05/2018 à 12h18,"modele: SERIE 1 F20 5 PORTES, version: (F20) (..."
48,23933.0,RENAULT,KADJAR,2016,12078.0 km,Diesel,mécanique,10/07/2018 à 12h40,"modele: KADJAR, version: 1.6 DCI 130 ENERGY IN..."
49,9910.0,CITROEN,C3,2014,59905.0 km,Diesel,mécanique,29/05/2018 à 7h50,"modele: C3 (2E GENERATION), version: II (2) 1...."

## Some data cleaning

### Data checks

In [109]:
# Check for null values
df.isnull().sum()

Price          0
Make           0
Model          0
Model_year     0
Mileage        0
Fuel           0
Gearbox        0
Online         0
Description    0
dtype: int64

In [110]:
# Check for invalid numbers
df.isna().sum()

Price          0
Make           0
Model          0
Model_year     0
Mileage        0
Fuel           0
Gearbox        0
Online         0
Description    0
dtype: int64

In [111]:
# Find empty strings
np.where(df.applymap(lambda x: x == ''))

(array([], dtype=int64), array([], dtype=int64))

### Data types conversions

In [112]:
## Remove kilometers and convert to number
df["Mileage"] = df["Mileage"].str.replace(' km', '').astype("float64")
df.head(5)

,Price,Make,Model,Model_year,Mileage,Fuel,Gearbox,Online,Description
0,11220.0,PEUGEOT,308,2014,94341.0,Diesel,mécanique,06/07/2018 à 3h47,"modele: 308 (2E GENERATION), version: 1.6 HDI ..."
1,57526.0,BMW,X6,2015,39051.0,Diesel,automatique,03/04/2018 à 16h41,"modele: X6 F16, version: (F16) XDRIVE30D 258 M..."
2,80379.0,AUDI,RS6,2014,75381.0,Essence,automatique,30/07/2018 à 1h55,"modele: RS6 (3E GENERATION) AVANT, version: II..."
3,2830.0,FORD,KA,2007,92282.0,Essence,mécanique,09/07/2018 à 14h12,"modele: KA, version: 1.3 70 FUN, puissance_fis..."
4,12925.0,FIAT,TIPO,2018,10.0,Essence,mécanique,19/05/2018 à 3h52,"modele: TIPO 2 SW, version: II SW 1.4 95 POP, ..."

In [113]:
df.dtypes

Price          float64
Make            object
Model           object
Model_year       int64
Mileage        float64
Fuel            object
Gearbox         object
Online          object
Description     object
dtype: object

In [114]:
df["Mileage"].isna().sum()

0

In [115]:
# We don't really need the "Online" column as it seems to indicate the last user authentication
# df = df.drop("Online", axis=1)

### Hot encoding

In [116]:
# List categorical columns
df["Fuel"].unique()

array(['Diesel', 'Essence', 'Hybride essence électrique', 'Electrique',
       'Bicarburation essence GNV', 'Hybride diesel électrique',
       'Bicarburation essence GPL', 'Bicarburation essence bioéthanol'],
      dtype=object)

In [117]:
# List categorical columns for Gearbox
df["Gearbox"].unique()

array(['mécanique', 'automatique'], dtype=object)

In [118]:
df = pd.get_dummies(df, columns=["Gearbox"], drop_first=True)

In [119]:
# List categorical columns
df = pd.get_dummies(df, columns=["Fuel"])

In [121]:
df.head(5)

,Price,Make,Model,Model_year,Mileage,Online,Description,Gearbox_mécanique,Fuel_Bicarburation essence GNV,Fuel_Bicarburation essence GPL,Fuel_Bicarburation essence bioéthanol,Fuel_Diesel,Fuel_Electrique,Fuel_Essence,Fuel_Hybride diesel électrique,Fuel_Hybride essence électrique
0,11220.0,PEUGEOT,308,2014,94341.0,06/07/2018 à 3h47,"modele: 308 (2E GENERATION), version: 1.6 HDI ...",1,0,0,0,1,0,0,0,0
1,57526.0,BMW,X6,2015,39051.0,03/04/2018 à 16h41,"modele: X6 F16, version: (F16) XDRIVE30D 258 M...",0,0,0,0,1,0,0,0,0
2,80379.0,AUDI,RS6,2014,75381.0,30/07/2018 à 1h55,"modele: RS6 (3E GENERATION) AVANT, version: II...",0,0,0,0,0,0,1,0,0
3,2830.0,FORD,KA,2007,92282.0,09/07/2018 à 14h12,"modele: KA, version: 1.3 70 FUN, puissance_fis...",1,0,0,0,0,0,1,0,0
4,12925.0,FIAT,TIPO,2018,10.0,19/05/2018 à 3h52,"modele: TIPO 2 SW, version: II SW 1.4 95 POP, ...",1,0,0,0,0,0,1,0,0

## Split

In [125]:
features = [
    "Make", 
    "Model", 
    "Model_year", 
    "Gearbox_mécanique",
    "Fuel_Bicarburation essence GNV",
    "Fuel_Bicarburation essence GPL",
    "Fuel_Bicarburation essence bioéthanol",
    "Fuel_Diesel",
    "Fuel_Electrique",
    "Fuel_Essence"
]

prediction = "Price"

X = df[features]
y = df[prediction]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [130]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((111685, 10), (55010, 10), (111685,), (55010,))

In [132]:
X_train.head(5)

,Make,Model,Model_year,Gearbox_mécanique,Fuel_Bicarburation essence GNV,Fuel_Bicarburation essence GPL,Fuel_Bicarburation essence bioéthanol,Fuel_Diesel,Fuel_Electrique,Fuel_Essence
105855,MERCEDES,CLASSE B,2016,1,0,0,0,1,0,0
88455,FIAT,500,2018,1,0,0,0,0,0,1
77593,RENAULT,LAGUNA,2015,1,0,0,0,1,0,0
41297,PEUGEOT,3008,2018,0,0,0,0,0,0,1
60408,PEUGEOT,3008,2016,1,0,0,0,1,0,0